# Emacs backup files (for primitive hosts without custom Emacs setups)
*~

# Leiningen files
.lein-deps-sum
.lein-failures
.lein-plugins

# Compiled files
classes/

# Target directory (why did this suddenly appear?)
target/
