# Emacs backup files (for primitive hosts without custom Emacs setups)
*~

# Leiningen files
.lein-deps-sum
.lein-failures
.lein-plugins

# Dependencies
lib/

# Compiled files
classes/

# Ignore .lein-failures
.lein-failures

# Target directory (why did this suddenly appear?)
target/
